/* ======= Layout principal ======= */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* ======= Container principal ======= */
.container {
  max-width: 800px;
  margin: 20px auto; /* centraliza horizontalmente */
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: left; /* volta o conteúdo para a esquerda */
}

.card {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


input, button {
  padding: 10px;
  margin: 5px 0;
}

input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 95%;
  padding: 10px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #e63939;
}

.toggle-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  margin-top: 10px;
}

footer {
  bottom: 10px; 
  left: 15px;     
  background: none; 
  color: #333;     
  font-size: 14px;
  text-align: left;
}

h1, h2 {
  text-align: center;
}
